---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---
title: "Network-Constrained_Transactive_Control_for_Multi-Microgrids-based_Distribution_Networks_with_Soft_Open_Points"
collection: talks
type: "Talk"
permalink: /talks/Network Constrained Transactive Control for Multi-Microgrids-based Distribution Networks with Soft Open Points
venue: "Smart Grid & Renewable Energy Laboratary, Tsinghua University"
date: 2023-05-21
excerpt: "This talk is about the transactive energy control framework for multi-microgrids."
location: "Shenzhen, Guangdong, China"
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
